<!-- views/index.html -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Revealer - Reveal.js multiplexer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="components/reveal.js/css/reveal.min.css">
        <link rel="stylesheet" href="components/reveal.js/css/theme/default.css" id="theme">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">

                <section>
                    <h1>Dinosaurs to iPads</h1>
                    <h3>How to develop big applications without the pain?</h3>
                    <img src="img/dinos.jpg">
                </section>

                <section>
                    <h2>Lets go back in time</h2>
                    <img src="img/spiral.png">
                </section>

                <section>
                    <h2>And put things in perspective</h2>
<!--                     <iframe src="http://workshop.chromeexperiments.com/stars/" class="stretch"></iframe> -->
                    <a href="http://www.html5rocks.com/en/tutorials/casestudies/100000stars/" target="_blank">An html5 WebGL case study</a>
                </section>

                <section>
                    <h2>Before?</h2>
                    <img src="img/lava.gif" class="stretch">
                </section>

                <section>
                    <h2>Then?</h2>
                    <img src="img/dinos.jpg" class="stretch">
                </section>

                <section>
                    <img src="img/asteroid.png" class="stretch">
                </section>

                <section>
                    <img src="img/cavemen.jpg" class="stretch">
                </section>
              <section>
                    <h2>The shoes cable-hell problem?</h2>
                    <img src="img/shoes.jpg" width="40%">
                    <img src="img/tangled.jpg" width="40%">
                    <p>Expression vs. Self-Serving stuff</p>
                </section>

                <section>
                    <img src="img/wastedEffort.jpg" class="stretch">
                </section>

               <section>
                    <h2>Expression</h2>
                    <img src="img/flower1.jpg" width="40%">
                    <img src="img/flower2.jpg" width="40%">
                    <img src="img/flower3.jpg" width="40%">
                    <img src="img/flower4.jpg" width="40%">
                </section>

               <section>
                    <h2>Expression</h2>
                    <img src="img/bird1.jpg" width="40%">
                    <img src="img/bird2.jpg" width="40%">
                    <img src="img/bird3.jpg" width="40%">
                    <img src="img/bird4.jpg" width="40%">
                </section>

               <section>
                    <h2>Expression</h2>
                    <img src="img/people1.jpg" width="40%">
                    <img src="img/people2.jpg" width="40%">
                    <img src="img/people3.jpg" width="40%">
                    <img src="img/people4.jpg" width="40%">
                </section>

               <section>
                    <h2>Self-Serving</h2>
                    <img src="img/selfServing1.gif" class="stretch">
                </section>

               <section>
                    <h2>Self-Serving</h2>
                    <img src="img/selfServing2.png" class="stretch">
                </section>

               <section>
                    <h2>Self-Serving</h2>
                    <img src="img/selfServing3.gif" class="stretch">
                </section>

               <section>
                    <h2>Self-Serving</h2>
                    <img src="img/selfServing4.gif" class="stretch">
                </section>

               <section>
                    <h2>Self-Serving</h2>
                    <img src="img/selfServing5.jpeg" class="stretch">
                </section>

               <section>
                    <h2>The shoes cable-hell problem</h2>
                    <img src="img/shoes.jpg" width="20%">
                    <img src="img/tangled.jpg" width="60%">
                </section>

               <section>
                    <h1>More</h1>
                    <h2>Self-Serving</h2>
                    <img src="img/fred.png" class="stretch">
                </section>

               <section>
                    <h1>Less</h1>
                    <h2>Expression</h2>
                    <img src="img/driving2.jpg" class="stretch">
                </section>

                <section>
                    <img src="img/wastedEffort.jpg" class="stretch">
                </section>

               <section>
                    <h1>next?</h1>
                    <h3>what do we do?</h3>
                </section>

               <section>
                    <h3>big idea</h3>
                     <img src="img/frankl.jpg" class="strech">
                     <blockquote>What a man actually needs is not a tensionless state but rather the striving and struggling for a wortwhile goal, a freely chosen task.</blockquote> 
                    <a href="http://en.wikipedia.org/wiki/Viktor_Frankl" target="_blank">Viktor E. Frankl</a> 
                    <p>Holocaust suvivor and author of Man's search for <em>Meaning</em></p>
                </section>


                <section>
                    <h3>The Mother of All Demos</h3>
                    <img src="img/youngEngelbart.jpg" class="stretch">
                    <p>Douglas Engelbart</p>
                    <a href="https://www.youtube.com/watch?v=yJDv-zdhzMY" target="_blank"> San Francisco 1968</a>
                </section>

                <section>
                    <img src="img/oldEngelbart.jpg">
                    <img src="img/oldEngelbart2.jpg">
                </section>

                <section>
                    <img src="img/turing.jpg" class="stretch">
                    <p><a href="http://en.wikipedia.org/wiki/Alan_Turing" target="_balnk">Alan Turing</a></p>
                    <p>(23 June 1912 – 7 June 1954) was a British mathematician, logician, cryptanalyst, computer scientist and philosopher</p>
                </section>

                <section>
                    <img src="img/JohnMcCarthy.jpg" class="stretch">
                    <p><a href="http://en.wikipedia.org/wiki/John_McCarthy_(computer_scientist)" target="_balnk">John McCarthy</a></p>
                    <p>(September 4, 1927 – October 24, 2011) was an American computer scientist and cognitive scientist</p>
                </section>

                <section>
                    <img src="img/youngKay.jpg" class="stretch">
                    <p><a href="http://en.wikipedia.org/wiki/Alan_Kay" target="_balnk">Alan Kay</a></p>
                    <p>American computer scientist. He has been elected a Fellow of the American Academy of Arts and Sciences, the National Academy of Engineering, and the Royal Society of Arts. He is best known for his pioneering work on object-oriented programming and windowing graphical user interface design, and for coining the phrase, "The best way to predict the future is to invent it."</p>
                </section>

                <section>
                    <img src="img/dynabook.png" class="stretch">
                    <p>August 1972, Xerox Palo Alto Research Center</p>
                    <a href="http://en.wikipedia.org/wiki/Dynabook" target="_blank"> The Dynabook paper</a>
                    <p>A personal computer for children of all ages</p>
                </section>

                <section>
                    <img src="img/XeroxAlto.jpg" class="stretch">
                    <p><a href="http://en.wikipedia.org/wiki/Xerox_Alto" target="_balnk">Xerox Alto</a></p>
                    <p>Developed at Xerox PARC and released on March 1, 1973</p>
                </section>

                <section>
                    <iframe width="640" height="360" src="//www.youtube.com/embed/nK7TQVFSA1Y?rel=0" frameborder="0" allowfullscreen class="stretch"></iframe>
                    <p>"They Alto was the only thing I've saw there, the system wasn't complete and they had many things wrong but the foundation was there. The instant I saw it I knew the whole computer industry was going to be like that." ~ Steve Jobs</p>
                </section>

                <section>
                    <img src="img/iPadSteve.jpg" class="stretch">
                </section>

                <section>
                    <iframe width="480" height="360" src="//www.youtube.com/embed/oKg1hTOQXoY?rel=0" frameborder="0" allowfullscreen class="stretch"></iframe>
                    <p>"The computer revolution hasn't happened yet" ~ Alan Kay, OOPSLA 1997</p>
                </section>

                <section>
                    <img src="img/DanIngalls.jpg" class="stretch">
                    <p><a href="http://en.wikipedia.org/wiki/Daniel_Henry_Holmes_Ingalls,_Jr." target="_balnk">Dan Ingalls</a></p>
                    <p>Pioneer of object-oriented computer programming and the principal architect, designer and implementor of five generations of Smalltalk environments</p>
                </section>

               <section>
                    <h1>Design Principles Behind Smalltalk</h1>
                    <blockquote>The purpose of the Smalltalk project is to provide computer support for the creative spirit in everyone.</blockquote>
                </section>

                <section>
                    <h2>It's the space before the response!</h2>
                    <img src="img/ViktorQuote.png" class="stretch">
                </section>

               <section>
                    <img src="img/shoes.jpg" width="30%">
                    <img src="img/tangled.jpg" class="stretch">
                    <p>Expression vs. Self-Serving</p>
                </section>

               <section>
                    <h2>More expression</h2>
                    <img src="img/whatIf1.jpg" width="40%">
                    <img src="img/mind-blown2.gif" width="40%">
                </section>

               <section>
                    <h2>More creativity</h2>
                    <img src="img/whatIf2.jpg" width="40%">
                    <img src="img/mind-blown3.gif" width="40%">
                </section>

               <section>
                    <h1>Less self-serving</h1>
                    <img src="img/srsly2.gif" class="stretch">
                </section>

               <section>
                    <h1>More meaning</h1>
                    <img src="img/srsly1.gif" class="stretch">
                </section>


               <section>
                     <iframe src="http://sebastianconcept.com/brandIt/10-reasons-why-im-using-smalltalk-for-airflowing" class="stretch" style="background: #fff" class="stretch"></iframe>
                     <blockquote>Smalltalk has a fantastic lively-exploration-on-demand system. That complexity is completely and instantly navigable. You can explore it any time. Instant Feedback is a feature that shortens the development cycle in the very fabric of programming and has massive productivity consequences.</blockquote> 
                </section>

               <section>
                    <h3>the airfloiwng experience</h3>
                     <iframe width="640" height="360" src="//www.youtube.com/embed/P8VXKwHjioA?rel=0" frameborder="0" allowfullscreen class="stretch"></iframe>
                    <p><a href="https://airflowing.com" target="_blank">airflowing</a> </p>
                    <p>End-to-End team management</p>
                </section>

               <section>
                    <h1>Airfloiwng</h1>
                    <p>~6000 classes</p>
                    <p>~40k methods</p>
                    <p>~2430 jobs</p>
                    <p>~8833 tasks</p>
                    <p>1 guy</p>
                    <p>Expanding operations in Europe and Brazil</p>
               </section>

               <section>
                     <iframe width="640" height="360" src="//www.youtube.com/embed/vdUYb7J3Mow?rel=0" frameborder="0" allowfullscreen class="stretch"></iframe>
                     <blockquote>If you take a look at the best entrepreneurial ecosystems in the world... it required a handful of entrepreneurs that took action and decided to become the driving force behind the thriving entrepreneurial ecosystem</blockquote> 
                    <a href="https://www.youtube.com/watch?v=vdUYb7J3Mow" target="_blank">Fernando Fabre</a> 
                    <p>President of Endeavor Global</p>
                </section>

               <section>
                    <h2>Function + Form + Objects</h2>
                    <h3>+ 3D printing</h3>
                    <h3>+ cheap great hardware</h3>
                    <h3>+ Design Thinking</h3>
                    <h3>+ Customer Development</h3>
                </section>

               <section>
                    <h1>Creative cambrian explosion</h1>
                    <img src="img/startup.jpg" class="stretch">
                </section>

               <section>
                    <h1>JavaScript</h1>
                    <h2>I see JavaScript everywhere</h2>
                    <img src="img/woodyBuzz.jpg" class="stretch">
                </section>

               <section>
                     <iframe src="http://amber-lang.net/" class="stretch"></iframe>
               </section>

               <section>
                    <img src="img/mind-blown1.gif" class="stretch">
                </section>

               <section>
                    <h1>Demos</h1>
               </section>

               <section>
                    <h1>Polygons</h1>
                     <iframe src="http://github.com/sebastianconcept/poly" class="stretch"></iframe>
               </section>

               <section>
                    <h1>Tasks</h1>
                     <iframe src="http://tasks.flowingconcept.com/" class="stretch"></iframe>
               </section>

               <section>
                    <h1>Mapless</h1>
                     <iframe src="//sebastianconcept.github.io/Mapless" class="stretch" style="background: #fff" class="stretch"></iframe>
               </section>

               <section>
                    <h1>thanks!</h1>
                    <h3>Q&A time</h3>
                    <h3>Sebastian Sastre</h3>
                    <p>Author of airflowing, founder of flowing and TEDx Curator</p>
                    <p>Designeer: Too engineer for a designer, too creative to be just engineer. Unconformist-Realist-Optimist. Always thinking big. Always finding ways. Loves to give and receive mentoring. Critical Thinker. Conversationalist. Doer. Fearless</p>
                    <p>@sebastianconcpt</p>
                    <p>sebastian@flowingconcept.com</p>
                    <p>follow / fork me on github.com/sebastianconcept</p>
               </section>

            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="components/reveal.js/js/reveal.min.js"></script>
        <script type="text/javascript">
            (function(){
              var host = 'http://localhost:40001'
                , socket = io.connect(host);
              Reveal.initialize({
                history: true               
              });

            notifyServer = function(event){
                data = {
                  indexv : Reveal.getIndices().v,
                  indexh : Reveal.getIndices().h,
                  indexf : Reveal.getIndices().f || 0
                }
             //   console.log('emiting data slidechanged');
             //   console.log(data);
             //   console.log(socket);

                socket.emit("slidechanged" , data);
              }
 
              Reveal.addEventListener("slidechanged", notifyServer);
              Reveal.addEventListener("fragmentshown", notifyServer);
              Reveal.addEventListener("fragmenthidden", notifyServer);

            socket.on('slidechanged', function (data) {
              //  console.log('slidechanged');
              Reveal.slide(data.indexh, data.indexv, data.indexf);
            });

            Reveal.addEventListener( 'slidechanged', function( event ) {
              // event.previousSlide, event.currentSlide, event.indexh, event.indexv
              var notes = event.currentSlide.querySelector(".notes");
              if(notes) {
                console.info(notes.innerHTML.replace(/\n\s+/g,'\n'));
              }
            } );

          })();

        </script>
    </body>
</html>