<!-- views/index.html -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dinosaurs to iPads</title>
        <meta name="author" content="Sebastian Sastre">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="components/reveal.js/css/reveal.min.css">
        <link rel="stylesheet" href="components/reveal.js/css/theme/default.css" id="theme">
    </head>
    <body>
        <div class="reveal">
             <div class="slides">
                <section>
                    <h1>Dinosaurs to iPads</h1>
                    <h3>How to develop big applications without the pain?</h3>
                    <img src="img/dinos.jpg">
                </section>

               <section>
                    <h2>The shoes cable-hell problem?</h2>
                    <img src="img/shoes.jpg" width="40%">
                    <img src="img/tangled.jpg" width="40%">
                    <p>Expression vs. Self-Serving stuff</p>
                </section>

               <section>
                    <h2>Expression</h2>
                    <img src="img/flower1.jpg" width="40%">
                    <img src="img/flower2.jpg" width="40%">
                    <img src="img/flower3.jpg" width="40%">
                    <img src="img/flower4.jpg" width="40%">
                </section>

               <section>
                    <h2>Expression</h2>
                    <img src="img/bird1.jpg" width="40%">
                    <img src="img/bird2.jpg" width="40%">
                    <img src="img/bird3.jpg" width="40%">
                    <img src="img/bird4.jpg" width="40%">
                </section>

               <section>
                    <h2>Expression</h2>
                    <img src="img/people1.jpg" width="40%">
                    <img src="img/people2.jpg" width="40%">
                    <img src="img/people3.jpg" width="40%">
                    <img src="img/people4.jpg" width="40%">
                </section>

               <section>
                    <h2>Self-Serving</h2>
                    <img src="img/selfServing1.gif" class="stretch">
                </section>

               <section>
                    <h2>Self-Serving</h2>
                    <img src="img/selfServing2.png" class="stretch">
                </section>

               <section>
                    <h2>Self-Serving</h2>
                    <img src="img/selfServing3.gif" class="stretch">
                </section>

               <section>
                    <h2>Self-Serving</h2>
                    <img src="img/selfServing4.gif" class="stretch">
                </section>

               <section>
                    <h2>Self-Serving</h2>
                    <img src="img/selfServing5.jpeg" class="stretch">
                </section>

               <section>
                    <h1>More</h1>
                    <h2>Self-Serving</h2>
                    <img src="img/fred.png" class="stretch">
                </section>

               <section>
                    <h2>The shoes cable-hell problem</h2>
                    <img src="img/shoes.jpg" width="40%">
                    <img src="img/tangled.jpg" width="40%">
                </section>

               <section>
                    <h1>Less</h1>
                    <h2>Expression</h2>
                    <img src="img/driving2.jpg" class="stretch">
                </section>

                <section>
                    <h2>Lets go back in time</h2>
                    <img src="img/spiral.png">
                </section>

                <section>
                    <h2>And put things in perspective</h2>
                    <iframe src="http://workshop.chromeexperiments.com/stars/" class="stretch"></iframe>
                    <a href="http://www.html5rocks.com/en/tutorials/casestudies/100000stars/" target="_blank">An html5 WebGL case study</a>
                </section>

                <section>
                    <h2>Before?</h2>
                    <img src="img/lava.gif" class="stretch">
                </section>

                <section>
                    <h2>Then?</h2>
                    <img src="img/dinos.jpg" class="stretch">
                </section>

                <section>
                    <img src="img/asteroid.png" class="stretch">
                </section>

                <section>
                    <img src="img/cavemen.jpg" class="stretch">
                </section>


               <section>
                    <h1>next?</h1>
                    <h3>here</h3>
                </section>

               <section>
                     <img src="img/frankl.jpg" class="strech">
                     <blockquote>What a man actually needs is not a tensionless state but rather the striving and struggling for a wortwhile goal, a freely chosen task.</blockquote> 
                    <a href="http://en.wikipedia.org/wiki/Viktor_Frankl" target="_blank">Viktor E. Frankl</a> 
                    <p>Holocaust suvivor and author of Man's search for Meaning</p>
                </section>


               <section>
                    <h1>next?</h1>
                    <h3>here</h3>
                </section>


                <section>
                    <h3>The Mother of All Demos</h3>
                    <img src="img/youngEngelbart.jpg">
                    <p>Douglas Engelbart</p>
                    <a href="https://www.youtube.com/watch?v=yJDv-zdhzMY" target="_blank"> San Francisco 1968</a>
                </section>

                <section>
                    <img src="img/oldEngelbart.jpg">
                    <img src="img/oldEngelbart2.jpg">
                </section>

                <section>
                    <img src="img/JohnMcCarthy.jpg">
                    <p>John McCarthy</p>
                </section>


                <section>
                    <img src="img/dynabook.png">
                    <p>August 1972, Xerox Palo Alto Research Center</p>
                    <a href="http://en.wikipedia.org/wiki/Dynabook" target="_blank"> The Dynabook paper</a>
                    <p>A personal computer for children of all ages</p>
                </section>

                <section>
                    <img src="img/youngKay.jpg">
                    <p>Alan Kay</p>
                </section>

               <section>
                     <!-- <img src="img/FernandoFabre.jpg" width="50%"> -->
                     <iframe width="640" height="360" src="//www.youtube.com/embed/vdUYb7J3Mow?rel=0" frameborder="0" allowfullscreen></iframe>
                     <blockquote>If you take a look at the best entrepreneurial ecosystems in the world... it required a handful of entrepreneurs that took action and decided to become the driving force behind the thriving entrepreneurial ecosystem</blockquote> 
                    <a href="https://www.youtube.com/watch?v=vdUYb7J3Mow" target="_blank">Fernando Fabre</a> 
                    <p>President of Endeavor Global</p>
                </section>


               <section>
                    <img src="img/shoes.jpg" width="50%">
                    <img src="img/tangled.jpg" class="stretch">
                </section>

               <section>
                    <img src="img/startup.jpg" class="stretch">
                </section>

            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="components/reveal.js/js/reveal.min.js"></script>
        <script type="text/javascript">
           (function(){
                Reveal.initialize({
                    history: true
                  });

               var host = 'http://localhost:40001'
                , socket = io.connect(host);

            socket.on('slidechanged', function (data) {
            //console.log('received slidechanged');
              Reveal.slide(data.indexh, data.indexv, data.indexf);
            });
          })();

        </script>
    </body>
</html>